In [3]:
import numpy as np #imported required module
import pandas as pd #imported required module
import matplotlib.pyplot as plt #imported required module
import os #imported required module


room_types = os.listdir('dataset') #give us directory all the particular folder
print (room_types)  

print("Types of rooms found: ", len(room_types))

['dinning_room', 'bed_room', 'living_room', '.ipynb_checkpoints']
Types of rooms found:  4

In [4]:
rooms = []

for item in room_types:
 # Get all the file names
 all_rooms = os.listdir('dataset' + '/' +item)
 #print(all_shoes)

 # Add them to the list
 for room in all_rooms:
    rooms.append((item, str('dataset' + '/' +item) + '/' + room))
    print(rooms[:1])

[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]
[('dinning_room', 'dataset/dinning_room/download.jpg')]

In [5]:
# Build a dataframe        
rooms_df = pd.DataFrame(data=rooms, columns=['room type', 'image'])
print(rooms_df.head())
print(rooms_df.tail())

      room type                                  image
0  dinning_room      dataset/dinning_room/download.jpg
1  dinning_room  dataset/dinning_room/download (1).jpg
2  dinning_room  dataset/dinning_room/download (3).jpg
3  dinning_room  dataset/dinning_room/download (2).jpg
4  dinning_room  dataset/dinning_room/download (5).jpg
      room type                                 image
10  living_room      dataset/living_room/download.jpg
11  living_room  dataset/living_room/download (1).jpg
12  living_room  dataset/living_room/download (3).jpg
13  living_room  dataset/living_room/download (2).jpg
14  living_room  dataset/living_room/download (4).jpg

In [6]:
# Let's check how many samples for each category are present
print("Total number of rooms in the dataset: ", len(rooms_df))

Total number of rooms in the dataset:  15

In [7]:
room_count = rooms_df['room type'].value_counts()

print("rooms in each category: ")
print(room_count)

rooms in each category:
dinning_room    5
bed_room        5
living_room     5
Name: room type, dtype: int64

In [8]:
import cv2
path = 'dataset/'


#im_size = 100
im_size = 300

images = []
labels = []

for i in room_types:
    data_path = path + str(i) 
    filenames = [i for i in os.listdir(data_path) ]
   
    for f in filenames:
        img = cv2.imread(data_path + '/' + f)  # reading that image as array
        #print(img)  # will get the image as an array
        img = cv2.resize(img, (im_size, im_size))
        images.append(img)
        labels.append(i)

In [9]:
# Transform the image array to a numpy type

images = np.array(images)

images.shape

(15, 300, 300, 3)

In [10]:
images = images.astype('float32') / 255.0

In [11]:
images.shape

(15, 300, 300, 3)

In [12]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder


y=rooms_df['room type'].values
print(y[:5])

['dinning_room' 'dinning_room' 'dinning_room' 'dinning_room'
 'dinning_room']

In [13]:
# for y
y_labelencoder = LabelEncoder ()
y = y_labelencoder.fit_transform (y)
print (y)

[1 1 1 1 1 0 0 0 0 0 2 2 2 2 2]

In [14]:
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split


images, y = shuffle(images, y, random_state=1)

train_x, test_x, train_y, test_y = train_test_split(images, y, test_size=0.05, random_state=415)

#inpect the shape of the training and testing.
print(train_x.shape)
print(train_y.shape)
print(test_x.shape)
print(test_y.shape)

(14, 300, 300, 3)
(14,)
(1, 300, 300, 3)
(1,)

In [15]:
# Develop a sequential model using tensorflow keras
import keras
import tensorflow as tf
model = keras.Sequential([
    keras.layers.Flatten(input_shape=(300,300,3)),
    keras.layers.Dense(256, activation=tf.nn.tanh),
   
    keras.layers.Dense(3, activation=tf.nn.softmax)
])

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten (Flatten)           (None, 270000)            0

 dense (Dense)               (None, 256)               69120256

 dense_1 (Dense)             (None, 3)                 771

=================================================================
Total params: 69,121,027
Trainable params: 69,121,027
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compute the model parameters

model.compile(optimizer=tf.compat.v1.train.AdamOptimizer(), loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [23]:
# Train the model  with 5 epochs 

model.fit(train_x,train_y, epochs=5)

Epoch 1/5
1/1 [==============================] - 1s 1s/step - loss: 1.0750 - accuracy: 0.2857
Epoch 2/5
1/1 [==============================] - 0s 395ms/step - loss: 10.4903 - accuracy: 0.3571
Epoch 3/5
1/1 [==============================] - 0s 385ms/step - loss: 9.8345 - accuracy: 0.3571
Epoch 4/5
1/1 [==============================] - 0s 400ms/step - loss: 9.4874 - accuracy: 0.3571
Epoch 5/5
1/1 [==============================] - 0s 401ms/step - loss: 9.1791 - accuracy: 0.3571

In [ ]:
y_pred = model.predict_classes(test_x)
y_pred

In [61]:
from keras.preprocessing.image import load_img

import numpy as np

image = load_img('t2.jpg', target_size=(300, 300))   # predicting correct 
imag

In [ ]:
# convert the image pixels to a numpy array
image = np.array(image)
image.shape

# reshape data for the model
image = image.reshape((1, image.shape[0], image.shape[1], image.shape[2]))

In [ ]:
yhat = model.predict(image)
yhat